<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="agent">
      <h2 data-cy="agentDetailsHeading"><span>Agent</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ agent.id }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ agent.code }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ agent.name }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ agent.phone }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ agent.email }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ agent.address }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/agent', agent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
