<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-item-heading" data-cy="OrderItemCreateUpdateHeading">Thêm mới hoặc cập nhật Order Item</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idItem">Id Item</label>
          <input type="number" class="form-control" name="idItem" id="field_idItem" data-cy="idItem" formControlName="idItem" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_itemName">Item Name</label>
          <input type="text" class="form-control" name="itemName" id="field_itemName" data-cy="itemName" formControlName="itemName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_qty">Qty</label>
          <input type="number" class="form-control" name="qty" id="field_qty" data-cy="qty" formControlName="qty" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idVgOrder">Id Vg Order</label>
          <input type="number" class="form-control" name="idVgOrder" id="field_idVgOrder" data-cy="idVgOrder" formControlName="idVgOrder" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_discount">Discount</label>
          <input type="number" class="form-control" name="discount" id="field_discount" data-cy="discount" formControlName="discount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idItemAgent">Id Item Agent</label>
          <input
            type="number"
            class="form-control"
            name="idItemAgent"
            id="field_idItemAgent"
            data-cy="idItemAgent"
            formControlName="idItemAgent"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Hủy</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
