<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vgOrder">
      <h2 data-cy="vgOrderDetailsHeading"><span>Vg Order</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ vgOrder.id }}</span>
        </dd>
        <dt><span>Id Customer</span></dt>
        <dd>
          <span>{{ vgOrder.idCustomer }}</span>
        </dd>
        <dt><span>Order Type</span></dt>
        <dd>
          <span>{{ vgOrder.orderType }}</span>
        </dd>
        <dt><span>Paid</span></dt>
        <dd>
          <span>{{ vgOrder.paid }}</span>
        </dd>
        <dt><span>Total Amount</span></dt>
        <dd>
          <span>{{ vgOrder.totalAmount }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ vgOrder.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Id Partner</span></dt>
        <dd>
          <span>{{ vgOrder.idPartner }}</span>
        </dd>
        <dt><span>Attributes</span></dt>
        <dd>
          <span>{{ vgOrder.attributes }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/vg-order', vgOrder.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
