<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="configApp">
      <h2 data-cy="configAppDetailsHeading"><span>Config App</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ configApp.id }}</span>
        </dd>
        <dt><span>Firebase</span></dt>
        <dd>
          <span>{{ configApp.firebase }}</span>
        </dd>
        <dt><span>Sheet Id</span></dt>
        <dd>
          <span>{{ configApp.sheetId }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ configApp.status }}</span>
        </dd>
        <dt><span>Id Customer</span></dt>
        <dd>
          <span>{{ configApp.idCustomer }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/config-app', configApp.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
