<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="customer">
      <h2 data-cy="customerDetailsHeading"><span>Customer</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ customer.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ customer.name }}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
          <span>{{ customer.code }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ customer.email }}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ customer.phone }}</span>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
          <span>{{ customer.address }}</span>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
          <span>{{ customer.avatar }}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
          <span>{{ customer.createdDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ customer.status }}</span>
        </dd>
        <dt><span>Id Partner</span></dt>
        <dd>
          <span>{{ customer.idPartner }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Quay lại</span>
      </button>

      <button type="button" [routerLink]="['/customer', customer.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Sửa</span>
      </button>
    </div>
  </div>
</div>
